In [64]:
#Importing Libraries
import pandas as pd

# For Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# To Scale our data
from sklearn.preprocessing import scale

# To perform KMeans clustering 
from sklearn.cluster import KMeans

# To perform Hierarchical clustering
from scipy.cluster.hierarchy import linkage
from scipy.cluster.hierarchy import dendrogram
from scipy.cluster.hierarchy import cut_tree

In [71]:
#reading Dataset
cricket = pd.read_csv("Cricket.csv",  sep = ',',encoding = "ISO-8859-1", header= 0)
cricket.head()

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28

In [72]:
cricket = cricket[['Player', 'Ave','SR']]

In [73]:
cricket.head()

                        Player    Ave     SR
0         SR Tendulkar (INDIA)  44.83  86.23
1  KC Sangakkara (Asia/ICC/SL)  41.98  78.86
2         RT Ponting (AUS/ICC)  42.03  80.39
3      ST Jayasuriya (Asia/SL)  32.36  91.20
4   DPMD Jayawardene (Asia/SL)  33.37  78.96

In [68]:
from sklearn.preprocessing import StandardScaler
standard_scaler = StandardScaler()
RFM_norm1 = standard_scaler.fit_transform(cricket[cricket.columns[2:]])
cluster =KMeans(n_clusters=4,random_state=100,max_iter=50)

In [69]:
cricket["cluster"] = cluster.fit(RFM_norm1)

In [70]:
cricket

,Player,Ave,SR,cluster
0,SR Tendulkar (INDIA),44.83,86.23,"KMeans(algorithm='auto', copy_x=True, init='k-..."
1,KC Sangakkara (Asia/ICC/SL),41.98,78.86,"KMeans(algorithm='auto', copy_x=True, init='k-..."
2,RT Ponting (AUS/ICC),42.03,80.39,"KMeans(algorithm='auto', copy_x=True, init='k-..."
3,ST Jayasuriya (Asia/SL),32.36,91.20,"KMeans(algorithm='auto', copy_x=True, init='k-..."
4,DPMD Jayawardene (Asia/SL),33.37,78.96,"KMeans(algorithm='auto', copy_x=True, init='k-..."
5,Inzamam-ul-Haq (Asia/PAK),39.52,74.24,"KMeans(algorithm='auto', copy_x=True, init='k-..."
6,JH Kallis (Afr/ICC/SA),44.36,72.89,"KMeans(algorithm='auto', copy_x=True, init='k-..."
7,SC Ganguly (Asia/INDIA),41.02,73.70,"KMeans(algorithm='auto', copy_x=True, init='k-..."
8,R Dravid (Asia/ICC/INDIA),39.16,71.24,"KMeans(algorithm='auto', copy_x=True, init='k-..."
9,BC Lara (ICC/WI),40.48,79.51,"KMeans(algorithm='auto', copy_x=True, init='k-..."
10,TM Dilshan (SL),39.27,86.23,"KMeans(algorithm='auto', copy_x=True, init='k-..."
11,Mohammad Yousuf (Asia/PAK),41.71,75.10,"KMeans(algorithm='auto', copy_x=True, init='k-..."
12,AC Gilchrist (AUS/ICC),35.89,96.94,"KMeans(algorithm='auto', copy_x=True, init='k-..."
13,MS Dhoni (Asia/INDIA),51.32,88.69,"KMeans(algorithm='auto', copy_x=True, init='k-..."
14,M Azharuddin (INDIA),36.92,74.02,"KMeans(algorithm='auto', copy_x=True, init='k-..."
15,AB de Villiers (Afr/SA),53.55,100.25,"KMeans(algorithm='auto', copy_x=True, init='k-..."
16,PA de Silva (SL),34.90,81.13,"KMeans(algorithm='auto', copy_x=True, init='k-..."
17,CH Gayle (ICC/WI),37.33,85.11,"KMeans(algorithm='auto', copy_x=True, init='k-..."
18,Saeed Anwar (PAK),39.21,80.67,"KMeans(algorithm='auto', copy_x=True, init='k-..."
19,S Chanderpaul (WI),41.60,70.74,"KMeans(algorithm='auto', copy_x=True, init='k-..."
20,Yuvraj Singh (Asia/INDIA),36.55,87.67,"KMeans(algorithm='auto', copy_x=True, init='k-..."
21,DL Haynes (WI),41.37,63.09,"KMeans(algorithm='auto', copy_x=True, init='k-..."
22,MS Atapattu (SL),37.57,67.72,"KMeans(algorithm='auto', copy_x=True, init='k-..."
23,ME Waugh (AUS),39.35,76.90,"KMeans(algorithm='auto', copy_x=True, init='k-..."
24,V Sehwag (Asia/ICC/INDIA),35.05,104.33,"KMeans(algorithm='auto', copy_x=True, init='k-..."
25,V Kohli (INDIA),53.94,90.99,"KMeans(algorithm='auto', copy_x=True, init='k-..."
26,HH Gibbs (SA),36.13,83.26,"KMeans(algorithm='auto', copy_x=True, init='k-..."
27,Shahid Afridi (Asia/ICC/PAK),23.57,117.00,"KMeans(algorithm='auto', copy_x=True, init='k-..."
28,SP Fleming (ICC/NZ),32.40,71.49,"KMeans(algorithm='auto', copy_x=True, init='k-..."
29,MJ Clarke (AUS),44.58,78.98,"KMeans(algorithm='auto', copy_x=True, init='k-..."
...,...,...,...,...
49,ML Hayden (AUS/ICC),43.80,78.96,"KMeans(algorithm='auto', copy_x=True, init='k-..."
50,BB McCullum (NZ),30.41,96.37,"KMeans(algorithm='auto', copy_x=True, init='k-..."
51,DM Jones (AUS),44.61,72.56,"KMeans(algorithm='auto', copy_x=True, init='k-..."
52,DC Boon (AUS),37.04,65.13,"KMeans(algorithm='auto', copy_x=True, init='k-..."
53,JN Rhodes (SA),35.11,80.90,"KMeans(algorithm='auto', copy_x=True, init='k-..."
54,Mohammad Hafeez (PAK),33.01,75.58,"KMeans(algorithm='auto', copy_x=True, init='k-..."
55,Rameez Raja (PAK),32.09,63.31,"KMeans(algorithm='auto', copy_x=True, init='k-..."
56,RR Sarwan (WI),42.67,75.74,"KMeans(algorithm='auto', copy_x=True, init='k-..."
57,EJG Morgan (ENG/IRE),38.73,88.62,"KMeans(algorithm='auto', copy_x=True, init='k-..."
58,CL Hooper (WI),35.34,76.63,"KMeans(algorithm='auto', copy_x=True, init='k-..."
59,SR Watson (AUS),40.54,90.44,"KMeans(algorithm='auto', copy_x=True, init='k-..."
60,Tamim Iqbal (BDESH),34.38,78.31,"KMeans(algorithm='auto', copy_x=True, init='k-..."
61,SK Raina (INDIA),35.46,93.76,"KMeans(algorithm='auto', copy_x=True, init='k-..."
62,WJ Cronje (SA),38.64,76.47,"KMeans(algorithm='auto', copy_x=True, init='k-..."
63,MJ Guptill (NZ),43.30,87.73,"KMeans(algorithm='auto', copy_x=True, init='k-..."
64,MEK Hussey (AUS),48.15,87.16,"KMeans(algorithm='auto', copy_x=True, init='k-..."
65,RG Sharma (INDIA),42.46,84.56,"KMeans(algorithm='auto', copy_x=True, init='k-..."
66,IR Bell (ENG),37.87,77.16,"KMeans(algorithm='auto', copy_x=True, init='k-..."
67,A Jadeja (INDIA),37.47,69.80,"KMeans(algorithm='auto', copy_x=True, init='k-..."
68,DR Martyn (AUS),40.80,77.73,"KMeans(algorithm='auto', copy_x=True, init='k-..."
69,BRM Taylor (ZIM),34.82,74.47,"KMeans(algorithm='auto', copy_x=True, init='k-..."
70,G Gambhir (INDIA),39.68,85.25,"KMeans(algorithm='auto', copy_x=True, init='k-..."
71,ADR Campbell (ZIM),30.50,66.18,"KMeans(algorithm='auto', copy_x=True, init='k-..."
72,MN Samuels (WI),34.30,76.24,"KMeans(algorithm='auto', copy_x=True, init='k-..."
73,RS Mahanama (SL),29.49,60.57,"KMeans(algorithm='auto', copy_x=True, init='k-..."
74,CG Greenidge (WI),45.03,64.92,"KMeans(algorithm='auto', copy_x=True, init='k-..."
75,Misbah-ul-Haq (PAK),43.40,73.75,"KMeans(algorithm='auto', copy_x=True, init='k-..."
76,PD Collingwood (ENG),35.36,76.98,"KMeans(algorithm='auto', copy_x=True, init='k-..."
77,A Symonds (AUS),39.75,92.44,"KMeans(algorithm='auto', copy_x=True, init='k-..."
78,Abdul Razzaq (Asia/PAK),29.70,81.25,"KMeans(algorithm='auto', copy_x=True, init='k-..."

In [63]:
cricket[cricket.Player.str.contains('Gayle')]

,Player,Ave,SR,cluster
17,CH Gayle (ICC/WI),37.33,85.11,"KMeans(algorithm='auto', copy_x=True, init='k-..."